.header_s{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 45px;
  z-index: 10;
  a{
    position: relative;
    text-decoration: none;
    color: black;
    font-family: 'ProximaNova-Light';
    &:after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      transform: scaleX(0);
      background: linear-gradient(90deg ,#5F0587,#DD018C);
      transition: .5s;
      z-index: -1;
    }
    &:hover{
      color: #fff;
      &:after{
        transform: scaleX(1);
        @include res('tab'){
          transform: scaleX(0);
        }
      }
      @include res('tab'){
        color: black;
      }
    }
  }
  .company_name{
    font-size: 36px;
    span{
      font-family: 'ProximaNova-Bold';
    }
  }
 .nav{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   .nav_list{
     display: flex;
     justify-content: space-between;
     .nav_item{
       margin: 0 15px;
       font-size: 18px;
     }
     .nav_item:last-of-type{
       margin-right: 0;
     }
   }
 }
}