.intro_s{
  width: 100%;
  height: 100vh;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/intro_s/background.png) fixed no-repeat center;
    background-size: cover;
    z-index: -1;
  }
  .intro_s__wrap{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    .intro_title{
      position: absolute;
      top: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include res('tab'){
        top: 500px;
      }
      @include res('mob'){
        top: 400px;
      }
      h1{
        font-size: 48px;
        font-weight: normal;
      }
      p{
        margin: 5px 0 50px 0;
        font-size: 18px;
        color: $text_description;
      }
    }
    .mouse{
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 70px;
      color: #fff;
      p{
        margin-top: 10px;
      }
      @include res('tab'){
        display: none;
      }
      @include res('mob'){
        display: none;
      }
    }
  }
}
.btn{
  height: 50px;
  width: 200px;
  background: linear-gradient(to right, #330066, #cc0099);
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  &:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10%;
    transform: translateX(-100%);
    background-color: white;
    opacity: .4;
    z-index: 1;
  }
  &:hover:after{
    transform: translateX(200px);
    transition: 1s;
    @include res('tab'){
      transform: translateX(-100%);
    }
    @include res('mob'){
      transform: translateX(-100%);
    }
  }
  &:hover{
    //background: linear-gradient(to right, #330046, #cc0099);
    @include res('tab'){
      background: linear-gradient(to right, #330066, #cc0099);
    }
    @include res('mob'){
      background: linear-gradient(to right, #330066, #cc0099);
    }
  }
}