body{
    height: 500vh;
}
@keyframes circle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes up_down {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-50%);
    }
}
.header_s{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;
    z-index: 999;
}
.container-header {
    display: block;
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 17px;
}
.logo{
    animation: circle 2s linear infinite;
}
.menu{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    align-items: center;
    padding-right: 28px;
}
.search_item{
    display: none;
}
.hamburger{
    cursor: pointer;
    padding-bottom: 3px;
}
.hamburger:hover .line{
    transition: .5s;
    background-color: #f84444;
}
.line{
    width: 15px;
    height: 2px;
    background-color: #7c7e88;
    transition: .5s;
}
.line:nth-of-type(2n){
    margin: 3px 0;
}
/* ----------!!!!!!!!!_---------------// HEADER_S -------------*/
/*--------------INTRO SECTION START CSS--------------------*/
.intro_s{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.intro_s:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/intro/intro_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.intro_s:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.1);
    z-index: -1;
}
.intro_s__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*BTN CLASS*/
.btn{
    font-family: 'Raleway-ExtraBold';
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    line-height: 35px;
    color: #fff;
    width: 188px;
    height: 35px;
    transition: .3s;
    position: relative;
    overflow: hidden;
}
.btn:after{
    content: 'inside our studio';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f84444;
    z-index: -1;
    transition: .3s;
}
.btn:before{
    content: 'inside our studio';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f84444;
    z-index: -1;
    transition: .3s;
    transform: translateY(110%);
}
.btn:hover{
    color: #fff;
    transition: .3s;
}
.btn:hover:after{
    transform: translateY(-110%);
    transition: .3s;
}
.btn:hover:before{
    transform: translateY(0);
    transition: .3s;
}
/*BTN CLASS:FINISHED*/
.title{
    font-family: 'Raleway-Bold';
    font-size: 35px;
    padding-top: 25px;
    color: #fff;
    letter-spacing: 75px;
    margin-left: 75px;
}
.intro_s__arrow{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: up_down .5s linear alternate infinite;
}
.about_us_s{
    height: 100vh;
    background-color: #7c7e88;
}





































/*!*-----CONTAINER-----*!*/
/*.container{*/
    /*max-width: 1200px;*/
    /*width: 100%;*/
    /*margin: 0 40px;*/
/*}*/
/*!*-----CONTAINER-----*!*/
/*!*-----HEADER-----*!*/
/*.header_s{*/
    /*position: fixed;*/
    /*margin: 40px 0;*/
    /*width: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: 3;*/
/*}*/
/*.header_s > nav{*/
    /*position: relative;*/
/*}*/
/*.nav_item{*/
    /*height: 17px;*/
    /*width: 17px;*/
    /*cursor: pointer;*/
/*}*/
/*.logo{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 40px;*/
    /*animation: circle 2s linear infinite;*/
/*}*/
/*.search{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 80px;*/
/*}*/
/*.menu{*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 40px;*/
/*}*/
/*.menu_line{*/
    /*position: absolute;*/
    /*top: 2px;*/
    /*left: 0;*/
    /*height: 2px;*/
    /*width: 17px;*/
    /*background-color: #7c7e88;*/
/*}*/
/*.menu_line:after{*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 5px;*/
    /*left: 0;*/
    /*height: 2px;*/
    /*width: 17px;*/
    /*background-color: #7c7e88;*/
/*}*/
/*.menu_line:before{*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 10px;*/
    /*height: 2px;*/
    /*width: 17px;*/
    /*background-color: #7c7e88;*/
/*}*/
/*!*-----HEADER-----*!*/
/*!*-----MAIN_SECTION-----*!*/
/*.main_section{*/
    /*position: relative;*/
    /*width: 100%;*/
    /*height: 100vh;*/
    /*background: url("../img/main_section/background-1.png") no-repeat;*/
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/
/*}*/
/*.main_section:after{*/
    /*content: '';*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(0,0,0,.2);*/
/*}*/
/*.main_title{*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*z-index: 2;*/
/*}*/
/*.btn{*/
    /*position: relative;*/
    /*top: 0;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*width: 188px;*/
    /*height: 35px;*/
/*}*/
/*.btn a{*/
    /*background-color: #fb423e;*/
    /*color: #fff;*/
    /*width: 188px;*/
    /*height: 35px;*/
    /*text-decoration: none;*/
    /*text-transform: uppercase;*/
    /*font-size: 17px;*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*line-height: 35px;*/
/*}*/
/*.btn a:after{*/
    /*content: 'Inside our studio';*/
    /*top: 0;*/
    /*left: 0;*/
    /*color: #000;*/
    /*position: absolute;*/
    /*height: 0;*/
    /*width: 100%;*/
    /*background-color: transparent;*/
    /*overflow: hidden;*/
    /*transition: .5s;*/
    /*box-sizing: border-box;*/
/*}*/
/*.btn:hover a:after{*/
    /*height: 100%;*/
    /*transition: .5s;*/
/*}*/

/*.main_title h1{*/
    /*margin: 0 auto;*/
    /*color: white;*/
    /*font-size: 35px;*/
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: 75px;*/
    /*transform: translateX(35px);*/
/*}*/
/*.arrow{*/
    /*position: absolute;*/
    /*bottom: 6.5%;*/
    /*left: 50%;*/
    /*border-radius: 50%;*/
    /*animation: up_down .5s linear alternate infinite;*/
    /*z-index: 2;*/
/*}*/
/*!*-----MAIN_SECTION-----*!*/
/*!*-----SECTION_ABOUT_US-----*!*/
